// @font-face{
// 	font-family: 'MyWebFont';
// 	src: url('WebFont.eot');
// 	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
// 	     url('WebFont.woff') format('woff'),
// 	     url('WebFont.ttf') format('truetype'),
// 	     url('WebFont.svg#webfont') format('svg');
// }

@font-face {
  font-family: "BebasThin";
  src: url("@/css/fonts/BebasNeue-Thin.eot");
  src: url('@/css/fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
       url('@/css/fonts/BebasNeue-Thin.woff') format('woff'),
       url("@/css/fonts/BebasNeue-Thin.otf") format("opentype"),
       url("@/css/fonts/BebasNeue-Thin.ttf") format("truetype"),
       url('@/css/fonts/BebasNeue-Thin.svg#webfont') format('svg');
}

@font-face {
  font-family: "BebasLight";
  src: url("@/css/fonts/BebasNeue-Light.eot");
  src: url('@/css/fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
       url("@/css/fonts/BebasNeue-Light.otf") format("opentype"),
       url("@/css/fonts/BebasNeue-Light.ttf") format("truetype"),
       url('@/css/fonts/BebasNeue-Light.svg#webfont') format('svg');
}

@font-face {
  font-family: "BebasBook";
  src: url("@/css/fonts/BebasNeue-Book.eot");
  src: url('@/css/fonts/BebasNeue-Book.eot?#iefix') format('embedded-opentype'),
       url("@/css/fonts/BebasNeue-Book.otf") format("opentype"),
       url("@/css/fonts/BebasNeue-Book.ttf") format("truetype"),
       url('@/css/fonts/BebasNeue-Book.svg#webfont') format('svg');
}

@font-face {
  font-family: "BebasRegular";
  src: url("@/css/fonts/BebasNeue-Regular.eot");
  src: url('@/css/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url("@/css/fonts/BebasNeue-Regular.otf") format("opentype"),
       url("@/css/fonts/BebasNeue-Regular.ttf") format("truetype"),
       url('@/css/fonts/BebasNeue-Regular.svg#webfont') format('svg');
}

@font-face {
  font-family: "BebasBold";
  src: url("@/css/fonts/BebasNeue-Bold.eot");
  src: url('@/css/fonts/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url("@/css/fonts/BebasNeue-Bold.otf") format("opentype"),
       url("@/css/fonts/BebasNeue-Bold.ttf") format("truetype"),
       url('@/css/fonts/BebasNeue-Bold.svg#webfont') format('svg');
}
