@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$body-font-family: 'Gilroy';
$heading-font-family: 'Gilroy';
$headings: (
  'h1': (
    'size': 46px,
    'line-height': 150%,
    'font-style': normal,
    'font-weight': 900,
    'letter-spacing': 0.02rem
  ),
  'h2': (
    'size': 32px,
    'line-height': 150%,
    'font-style': normal,
    'font-weight': 600,
    'letter-spacing': 0.02rem
  ),
  'h3': (
    'size': 28px,
    'line-height': 150%,
    'font-style': normal,
    'font-weight': 600,
    'letter-spacing': 0.02rem
  ),
  'h4': (
    'size': 24px,
    'line-height': 100%,
    'font-style': normal,
    'font-weight': bold,
    'letter-spacing': 0.02rem
  ),
  'h5': (
    'size': 18px,
    'line-height': 100%,
    'font-style': normal,
    'font-weight': bold,
    'letter-spacing': 0.02rem
  ),
  'p': (
    'size': 16px,
    'line-height': 100%,
    'font-style': normal,
    'letter-spacing': 0.02rem
  )
)
